*{
  color:#ccc;
}
body{
  background-color: rgba(23,0,23,0.8);
}
.container{
  width:100%;
  max-width:900px;
  margin: 0 auto;
  text-align:center;
}
header{
  border-radius: 15px;
  background-color: rgba(23,0,23,1);
  max-width:900px;
  padding:10px;
  width:100%;
}
.pool, .island, .spaceship, .tower, .trophy{
  border-radius: 15px;
  display:inline-block;
  margin: 10px;
  border: 3px solid #ccc;
}
img{
  border-top-left-radius:  15px;
  border-top-right-radius:  15px;
  width:400px;
  height:300px;
}
